<footer>
    <div class="row">
        <div class="col-sm-12 col-md-4 text-center">
            <img src="assets/dg.png" class="dg">
            Power By Gabriel
        </div>
        <div class="col-sm-12 col-md-4 text-center">
            Email: <a [href]="'mailto:'+email" target="_blank">{{email}}</a>
        </div>
        <div class="col-sm-12 col-md-4 text-center">
            Telefono: <a [href]="'https://api.whatsapp.com/send?phone=521'+telefono" target="_blank">
                +52 {{telefono}}
            </a>
        </div>
    </div>
</footer>