.img-token {
    height: 1em;
}
.page-item {
    cursor: pointer;
}
.arrow {
    height: 1em;
}
.green {
    color: green;
    font-weight: bold;
}
.red {
    color: red;
    font-weight: bold;
}
.cursor {
    cursor: pointer;
}
