<div class="row">
    <div class="col-sm-12 col-md-6">
        <h1>
            Wallet DiGital
        </h1>
        <p>
            It is a free client-side interface that helps you interact with the Ethereum blockchain. Our easy-to-use and
            open source
            platform allows you to generate wallets, interact with smart contracts, and much more.
        </p>
    </div>
    <div class="col-sm-12 col-md-6 text-center">
        <img src="assets/eth.svg" class="eth-wallet" alt="">
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="button-container" (click)="newaccount()">
            <div class="row">
                <div class="col-12">
                    <h3> <img src="assets/wallet.svg" class="img-card" alt=""> Create a new Wallet</h3>
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aliquid fuga minus voluptate
                        facilis reprehenderit quidem repellendus sed earum voluptatibus, laudantium vel nesciunt quaerat
                        modi, quam repellat obcaecati nobis deleniti?
                    </p>
                </div>
                <div class="col-12 text-center">
                    Get Started <img src="assets/right-arrow.svg" class="arrow" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="button-container" (click)="login()">
            <div class="row">
                <div class="col-12">
                    <h3><img src="assets/login.svg" class="img-card" alt=""> Access My Wallet</h3>
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aliquid fuga minus voluptate
                        facilis reprehenderit quidem repellendus sed earum voluptatibus, laudantium vel nesciunt quaerat
                        modi, quam repellat obcaecati nobis deleniti?
                    </p>
                </div>
                <div class="col-12 text-center">
                    Access now <img src="assets/right-arrow.svg" class="arrow" alt="">
                </div>
            </div>
        </div>
    </div>
</div>